Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

fix: revert 'trust Azure Stack's CA cert before pre-provision extensions' (#2135)
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: typo
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

test: minimal Windows custom VNET cluster config
  test/e2e/test_cluster_configs/windows/custom_vnet.json
Due: .pipelines/pr-e2e.yaml

wip azstack containermonitoring updates
  docs/static/img/azstack_azure_mon_containers_cluster_charts.png
  docs/static/img/azstack_azure_mon_containers_cluster_containers.png
  docs/static/img/azstack_azure_mon_containers_cluster_controllers.png
  docs/static/img/azstack_azure_mon_containers_cluster_health.png
  docs/static/img/azstack_azure_mon_containers_cluster_nodes.png
  docs/static/img/azstack_azure_mon_containers_overview.png
  docs/topics/azure-stack.md
Due: none

feat: add linux support for kubenet + containerd (#2050)
  examples/kubernetes-kubenet-containerd.json
  packer/install-dependencies.sh
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/api/azenvtypes.go
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/convertertoapi_test.go
  pkg/api/defaults-custom-cloud-profile.go
  pkg/api/defaults-kubelet.go
  pkg/api/defaults-kubelet_test.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/azenvtypes.go
  pkg/api/vlabs/types.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
  test/e2e/test_cluster_configs/network/kubenet_containerd.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Adding 1.16.1 version support.
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

ci: fix deployment cleanup in cleanup script (#2132)
  packer/vhd-rg-cleanup.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: Add api model entry for sgx (#2105)
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/api/common/helper.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/workloads/sgx-test.yaml
  test/e2e/test_cluster_configs/sgx.json
Due: .pipelines/pr-e2e.yaml

feat: enable re-use of VHD (#2130)
  parts/k8s/cloud-init/artifacts/cse_main.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: print logs after E2E tests (#2131)
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

test: skip time sync for 18.04-backed sgx test (#2137)
  test/e2e/test_cluster_configs/sgx.json
Due: .pipelines/pr-e2e.yaml

chore: rev AKS VHDs to 2019.10.09 (#2136)
  pkg/api/azenvtypes.go
  releases/vhd-notes/aks-ubuntu-1604/aks-ubuntu-1604-201910_2019.10.09.txt
  releases/vhd-notes/aks-ubuntu-1804/aks-ubuntu-1804-201910_2019.10.09.txt
Due: .pipelines/pr-e2e.yaml

doc updates
  docs/topics/azure-stack.md
Due: none

fix: set curl's 'cacert' option to download pre-provision scripts on Azure Stack
  pkg/engine/const.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml

test: Add 'latestReleasedVersion' target to Jenkins jobs (#2133)
  Jenkinsfile
  test/e2e/test_cluster_configs/windows/cse_benchmark_aks_vhds.json
  test/e2e/test_cluster_configs/windows/cse_benchmark_win_vhds.json
  test/e2e/test_cluster_configs/windows/custom_image.json
  test/e2e/test_cluster_configs/windows/image_reference.json
  test/e2e/test_cluster_configs/windows/shared_image_gallery.json
  test/e2e/test_cluster_configs/windows/vhd_url.json
Due: .pipelines/pr-e2e.yaml

Adding 1.16.1 version support. (#2143)
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix ingress group
  parts/k8s/containeraddons/kubernetesmasteraddons-azure-policy-deployment.yaml
Due: .pipelines/pr-e2e.yaml

updates related to latest version of container insights agent
  docs/topics/azure-stack.md
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/engine/testdata/key-vault-certs/kubernetes.json
Due: .pipelines/pr-e2e.yaml

update generated template with updated agent changes
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refact wsdomain function
  cmd/deploy.go
Due: .pipelines/pr-e2e.yaml

getworkspacedomain to support azstack and supported envs
  cmd/deploy.go
  pkg/api/addons.go
Due: .pipelines/pr-e2e.yaml

test: minimal Windows custom VNET cluster config (#2144)
  test/e2e/test_cluster_configs/windows/custom_vnet.json
Due: .pipelines/pr-e2e.yaml

test: make AfterSuite log output optional (#2139)
  test/e2e/config/config.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

fix: set curl's 'cacert' option to download pre-provision scripts on Azure Stack (#2147)
  pkg/engine/const.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml

Use WindowsServer VHDs with Oct patches
  packer/windows-vhd-builder.json
  pkg/api/azenvtypes.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Adding collectlogs.ps1 to windows AKS VHD
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: ensure cni conf json is valid when exception list contains a single address
  parts/k8s/windowsazurecnifunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

adding files downloaded by collectlogs.ps1 to windows aks vhd
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Use WindowsServer VHDs with Oct patches (#2155)
  packer/windows-vhd-builder.json
  pkg/api/azenvtypes.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix pr feedback
  cmd/deploy.go
  pkg/api/addons.go
Due: .pipelines/pr-e2e.yaml

fix: ensure cni conf json is valid when exception list contains a single address (#2157)
  parts/k8s/windowsazurecnifunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

add more error handling
  cmd/deploy.go
  pkg/api/addons.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.13.12
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes v1.14.8
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes v1.15.5
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes v1.16.2
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

add branch includes
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

add branch includes for go-mod
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

remove includes as they are all overridden in dev ops
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
