Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

add the tunnel front image.
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

add cpa.
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: put Azure locations list in a separate source file
  pkg/api/types_test.go
  pkg/helpers/azure_locations.go
  pkg/helpers/azure_locations_test.go
  pkg/helpers/azureconst.go
  pkg/helpers/azureconst_test.go
Due: .pipelines/pr-e2e.yaml

chore: improve apiserver implementation
  parts/k8s/manifests/kubernetesmaster-kube-apiserver.yaml
  pkg/api/components.go
  pkg/engine/engine.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: user-configurable components
  pkg/api/common/const.go
  pkg/api/components.go
  pkg/api/defaults.go
  pkg/api/types.go
  pkg/engine/artifacts.go
  pkg/engine/const.go
  pkg/engine/engine.go
  pkg/engine/template_generator.go
Due: .pipelines/pr-e2e.yaml

chore: a day's worth of work
  parts/k8s/manifests/kubernetesmaster-kube-addon-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-apiserver.yaml
  pkg/api/common/const.go
  pkg/api/components.go
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/defaults.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/vlabs/types.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/engine.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

ccm
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/1.18/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.18/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.18/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/kubernetesmaster-cloud-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-scheduler.yaml
  pkg/api/components.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/engine/engine.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

thanks: review feedback
  pkg/api/common/const.go
  pkg/api/components.go
  pkg/api/components_test.go
Due: .pipelines/pr-e2e.yaml

more UT, "hyperkube" as a const
  pkg/api/common/const.go
  pkg/api/components.go
  pkg/api/components_test.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/engine/template_generator.go
Due: .pipelines/pr-e2e.yaml

initial round of setComponentsConfig UT
  pkg/api/components.go
  pkg/api/components_test.go
Due: .pipelines/pr-e2e.yaml

moar UT
  pkg/api/types_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml

fix UT
  pkg/api/k8s_versions_test.go
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

enable azure stack
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager-custom.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

default manifests for public cloud now work
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-scheduler.yaml
  pkg/engine/engine.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

type conversion UT
  pkg/api/converterfromapi_test.go
  pkg/api/convertertoapi_test.go
Due: .pipelines/pr-e2e.yaml

lint
  pkg/api/components.go
  pkg/api/components_test.go
  pkg/engine/const.go
Due: .pipelines/pr-e2e.yaml

updated UT
  pkg/api/components.go
  pkg/api/components_test.go
Due: .pipelines/pr-e2e.yaml

UT
  pkg/api/components.go
  pkg/api/components_test.go
Due: .pipelines/pr-e2e.yaml

cleanup
  pkg/api/components.go
  pkg/api/types.go
  pkg/engine/engine.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

refactor: put Azure locations list in a separate source file (#2705)
  pkg/api/types_test.go
  pkg/helpers/azure_locations.go
  pkg/helpers/azure_locations_test.go
  pkg/helpers/azureconst.go
  pkg/helpers/azureconst_test.go
Due: .pipelines/pr-e2e.yaml

refactor: put Azure DC/OS SKUs list in a separate source file
  pkg/helpers/azure_skus.go
  pkg/helpers/azure_skus_dcos.go
  pkg/helpers/azure_skus_dcos_test.go
  pkg/helpers/azure_skus_test.go
Due: .pipelines/pr-e2e.yaml

feat: adding mcr.microsoft.com/oss/kubernetes/pause:1.3.0 to windows VHD (#2702)
  vhd/packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml

docs: add component docs
  docs/topics/clusterdefinitions.md
Due: none

add the missing images in vhd for AKS. (#2690)
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Fix typo
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: put Azure DC/OS SKUs list in a separate source file (#2706)
  pkg/helpers/azure_skus.go
  pkg/helpers/azure_skus_dcos.go
  pkg/helpers/azure_skus_dcos_test.go
  pkg/helpers/azure_skus_test.go
Due: .pipelines/pr-e2e.yaml

refactor: user-configurable components (#2540)
  docs/topics/clusterdefinitions.md
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/1.18/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.18/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.18/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/kubernetesmaster-cloud-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-addon-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager-custom.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-scheduler.yaml
  pkg/api/common/const.go
  pkg/api/components.go
  pkg/api/components_test.go
  pkg/api/converterfromapi.go
  pkg/api/converterfromapi_test.go
  pkg/api/convertertoapi.go
  pkg/api/convertertoapi_test.go
  pkg/api/defaults.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/types.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: add data collection (telemetry) notice to readme (#2674)
  README.md
Due: .pipelines/pr-e2e.yaml

Fix proportional-autoscaler:
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

add upgrade settings to agent pool profile
  pkg/api/types.go
Due: .pipelines/pr-e2e.yaml

chore: use k8s 1.17 for e2e tests in windows vhd pipeline
  .pipelines/vhd-builder-windows.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

revert: "feat: read vm size from instance metadata service for windows cse telemetry (#2663)"
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

revert: "fix: raising dynamic port range for windows to better support clusters with 200+ services (#2688)"
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsconfigfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

update e2e test for k8s 1.16+
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

feat: abort/warn if apimodel contains properties not supported by Azure Stack
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/testdata/azurestack/kubernetes.json
Due: .pipelines/pr-e2e.yaml

unblocking e2e tests by hardcording iis image
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

using iis:20191112-windowsservercore-ltsc2019
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
