Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

fix: userAssignedIdentityId in windows azure.json missing quotes (#2327)
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: support cloud-node-manager in k8s 1.16 (#2330)
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cloud-node-manager.yaml
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

refactor: optimize CSE main script for go template (#2339)
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  parts/k8s/cloud-init/artifacts/dhcpv6.service
  parts/k8s/cloud-init/artifacts/generateproxycerts.sh
  parts/k8s/cloud-init/artifacts/setup-custom-search-domains.sh
  parts/k8s/cloud-init/jumpboxcustomdata.yml
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/kubernetesparams.t
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/const.go
  pkg/engine/engine_test.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: enable cloud-node-manager addon on upgrade when appropriate
  pkg/api/addons.go
Due: .pipelines/pr-e2e.yaml

test: ensure cloud-node-manager on 1.17 upgrade
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

test: add RunWithRetry to E2E, use for curl tests
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

test: add RunWithRetry to E2E, use for curl tests (#2346)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

fix: enable cloud-node-manager addon on upgrade when appropriate (#2345)
  pkg/api/addons.go
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

fix: enable CSI addons on upgrade when appropriate
  pkg/api/addons.go
Due: .pipelines/pr-e2e.yaml

revert: "chore: update Azure CNI to v1.0.29 (#2323)"
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
  pkg/api/const.go
  pkg/api/converterfromapi_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

ci: stop testing k8s 1.11 and 1.12 on PRs (#2303)
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: re-enable E2E test for inotify max_user_watches
  test/e2e/kubernetes/scripts/net-config-validate.sh
Due: .pipelines/pr-e2e.yaml

test: remove windows-specific tests, use windows node pools
  .pipelines/pr-e2e.yaml
  examples/e2e-tests/kubernetes/release/default/definition.json
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: add custom subnet to windows pool
  examples/e2e-tests/kubernetes/release/default/definition.json
Due: .pipelines/pr-e2e.yaml

docs: update kubernetes-developers.md
  docs/topics/kubernetes-developers.md
Due: none

Add orchestratorRelease in example JSON
  docs/topics/kubernetes-developers.md
Due: none

test: remove windows-specific tests, use windows node pools (#2349)
  .pipelines/pr-e2e.yaml
  examples/e2e-tests/kubernetes/release/default/definition.json
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: resilient print pod logs during E2E, print more pod logs
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

test: add k8s 1.16 and 1.17 to TestExampleAPIModel unit test
  cmd/generate_test.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.17.0-rc.1
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

test: add k8s 1.16 and 1.17 to TestExampleAPIModel unit test (#2354)
  cmd/generate_test.go
Due: .pipelines/pr-e2e.yaml

docs: update kubernetes-developers.md (#2353)
  docs/topics/kubernetes-developers.md
Due: none

chore: update CoreDNS to 1.6.5
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: correct defaults order for setting IPAddressCount
  pkg/api/defaults-kubelet.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

test: more UT cases
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

test: resilient print pod logs during E2E, print more pod logs (#2352)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

test: resilient az group create during E2E provisioning
  test/e2e/azure/cli.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

fix: protect against nil panic
  pkg/api/defaults.go
Due: .pipelines/pr-e2e.yaml

chore: update CoreDNS to 1.6.5 (#2357)
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes 1.17.0-rc.1 (#2356)
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

test: re-enable E2E test for inotify max_user_watches (#2351)
  test/e2e/kubernetes/scripts/net-config-validate.sh
Due: .pipelines/pr-e2e.yaml

fix: correct defaults order for setting IPAddressCount (#2358)
  pkg/api/defaults-kubelet.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

test: resilient az group create during E2E provisioning (#2359)
  test/e2e/azure/cli.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

test: more resilient kubectl run interfaces
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

test: use default case for funcs
  test/e2e/kubernetes/config.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/hpa/hpa.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/persistentvolume/persistentvolume.go
  test/e2e/kubernetes/persistentvolumeclaims/persistentvolumeclaims.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/service/service.go
  test/e2e/kubernetes/storageclass/storageclass.go
Due: .pipelines/pr-e2e.yaml

test: more resilient kubectl run interfaces (#2355)
  test/e2e/kubernetes/config.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/hpa/hpa.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/persistentvolume/persistentvolume.go
  test/e2e/kubernetes/persistentvolumeclaims/persistentvolumeclaims.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/service/service.go
  test/e2e/kubernetes/storageclass/storageclass.go
Due: .pipelines/pr-e2e.yaml

test: use SLB in examples config for PR tests
  examples/e2e-tests/kubernetes/release/default/definition.json
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/workloads/nginx-master.yaml
  test/e2e/kubernetes/workloads/pod-pvc.yaml
Due: .pipelines/pr-e2e.yaml

style: remove dead code from Windows build script
  scripts/build-windows-k8s.sh
Due: .pipelines/pr-e2e.yaml

test: skip zones pvc test for 1.17
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
