Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

chore: switch dev image to go 1.13 version
  .devcontainer.json
  .go-version
  .pipelines/pr-e2e.yaml
  .pipelines/vhd-builder-ubuntu-gen2.yaml
  .pipelines/vhd-builder.yaml
  Makefile
  docs/community/developer-guide.md
  go.mod
  makedev.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: add NVv3 series to NVidia driver install list (#2959)
  pkg/api/common/helper.go
Due: .pipelines/pr-e2e.yaml

fix: add NVv3 series to NVidia driver install list (#2959) (#2977)
  pkg/api/common/helper.go
Due: .pipelines/pr-e2e.yaml

chore: don't re-run provision.sh if already called. (#2843)
  parts/k8s/cloud-init/artifacts/cse_main.sh
  pkg/engine/templates_generated.go
  pkg/engine/vmextensions.go
Due: .pipelines/pr-e2e.yaml

chore: switch dev image to go 1.13 version (#2976)
  .devcontainer.json
  .go-version
  .pipelines/pr-e2e.yaml
  .pipelines/vhd-builder-ubuntu-gen2.yaml
  .pipelines/vhd-builder.yaml
  Makefile
  docs/community/developer-guide.md
  go.mod
  makedev.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

add secrets-store-csi-driver addon
  go.sum
  parts/k8s/addons/kubernetesmasteraddons-secrets-store-csi-driver-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/const.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix addon spec and tests
  docs/topics/clusterdefinitions.md
  examples/addons/csi-secrets-store/README.md
  examples/addons/csi-secrets-store/kubernetes-csi-secrets-store.json
  parts/k8s/addons/kubernetesmasteraddons-secrets-store-csi-driver-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/const.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

add image pull to vhd script
  vhd/packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml

add warning message
  pkg/api/addons.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

update docs
  docs/topics/clusterdefinitions.md
Due: none

add validation check and update docs
  docs/topics/clusterdefinitions.md
  examples/addons/csi-secrets-store/README.md
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

feat: adding Windows VHD with 1.18.0 k8s binaries
  pkg/api/azenvtypes.go
  vhd/release-notes/aks-windows/2019-datacenter-core-smalldisk-17763.1098.200326.txt
Due: .pipelines/pr-e2e.yaml

test: use 1.17 for E2E
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes 1.19.0-alpha.1
  Jenkinsfile
  cmd/generate_test.go
  examples/kubernetes-releases/kubernetes1.19.json
  parts/k8s/addons/1.19/azure-cni-networkmonitor.yaml
  parts/k8s/addons/1.19/ip-masq-agent.yaml
  parts/k8s/addons/1.19/kubernetesmaster-audit-policy.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-azure-cloud-provider-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-cloud-node-manager.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-heapster-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kube-rescheduler-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kubernetes-dashboard-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-tiller-deployment.yaml
  pkg/api/common/versions.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: use same cluster-autoscaler version in MCR
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml

Revert "Revert "Cherry pick: check network to k8s api server (#2965)""
  parts/k8s/cloud-init/artifacts/cse_helpers.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  pkg/engine/armresources_test.go
  pkg/engine/armvariables_test.go
  pkg/engine/templates_generated.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualmachinescalesets_test.go
  pkg/engine/vmextensions.go
  pkg/engine/vmextensions_test.go
Due: .pipelines/pr-e2e.yaml

test: use 1.17 for E2E (#2980)
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: use same cluster-autoscaler version in MCR (#2981)
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml

feat: Windows azure-cni with containerd
  examples/windows/kubernetes-hybrid.azure-containerd.json
  examples/windows/kubernetes-hybrid.kubenet-containerd.json
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowscontainerdfunc.ps1
  pkg/api/vlabs/validate.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fixing errors
  parts/k8s/addons/1.16/ip-masq-agent.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feat: allow iptables mode for dualstack 1.18+ (#2882)
  examples/dualstack/README.md
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

test: fix test TestGetProvisionScriptParametersCommon and TestGetK8sVersionComponents
  pkg/api/k8s_versions_test.go
  pkg/api/types_test.go
Due: .pipelines/pr-e2e.yaml

chore: update cluster-autoscaler for k8s 1.18 (#2901)
  pkg/api/k8s_versions.go
  vhd/packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.18.0-beta.1 (#2791)
  vhd/packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.18.0 (#2957)
  pkg/api/common/versions.go
  pkg/api/defaults_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  vhd/packer/configure-windows-vhd.ps1
  vhd/packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml

feat: add support for single stack IPv6 (#2781)
  parts/k8s/addons/1.18/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/addons/coredns.yaml
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/defaults-apiserver.go
  pkg/api/defaults-apiserver_test.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/networkinterfaces.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualnetworks.go
Due: .pipelines/pr-e2e.yaml

fixing https://github.com/Azure/aks-engine/issues/2947, https://github.com/Azure/aks-engine/issues/2171, https://github.com/Azure/aks-engine/issues/2948
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/armvariables.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: lint
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

fix: each apiserver process listens on its own IP address
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: update E2E
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/workloads/busybox-master.yaml
Due: .pipelines/pr-e2e.yaml

feat: "aks-engine get-logs" command
  cmd/get_logs.go
  cmd/root.go
  go.sum
  pkg/helpers/ssh.go
  pkg/helpers/units.go
  scripts/collect-logs.sh
  vhd/packer/packer_source.sh
  vhd/packer/vhd-image-builder.json
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.19.0-alpha.1 (#2982)
  Jenkinsfile
  cmd/generate_test.go
  examples/kubernetes-releases/kubernetes1.19.json
  parts/k8s/addons/1.19/azure-cni-networkmonitor.yaml
  parts/k8s/addons/1.19/ip-masq-agent.yaml
  parts/k8s/addons/1.19/kubernetesmaster-audit-policy.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-azure-cloud-provider-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-cloud-node-manager.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-heapster-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kube-rescheduler-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-kubernetes-dashboard-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  parts/k8s/addons/1.19/kubernetesmasteraddons-tiller-deployment.yaml
  pkg/api/common/versions.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: each apiserver process listens on its own IP address (#2953)
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/workloads/busybox-master.yaml
Due: .pipelines/pr-e2e.yaml

feat: Windows azure-cni with containerd (#2864)
  examples/windows/kubernetes-hybrid.azure-containerd.json
  examples/windows/kubernetes-hybrid.kubenet-containerd.json
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowscontainerdfunc.ps1
  pkg/api/vlabs/validate.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: include Basic LB SKU limitations in Azure Stack page
  docs/topics/azure-stack.md
Due: none

feat: etcd metrics URL
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: change gatekeeper namespace
  examples/addons/azure-policy/README.md
  parts/k8s/addons/azure-policy-deployment.yaml
  parts/k8s/cloud-init/artifacts/cse_config.sh
  pkg/api/k8s_versions.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feedback
  docs/topics/azure-stack.md
Due: none

tweak
  docs/topics/azure-stack.md
Due: none
