Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

docs: supported versions for disconnected Azure Stacks using VHD 2019.09.19 (#1984)
  docs/topics/azure-stack.md
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

feat: dualstack phase2 changes (#1929)
  examples/dualstack/kubernetes.json
  parts/k8s/addons/1.16/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/api/defaults.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/ipaddresses.go
  pkg/engine/ipaddresses_test.go
  pkg/engine/loadbalancers.go
  pkg/engine/loadbalancers_test.go
  pkg/engine/masterarmresources.go
  pkg/engine/networkinterfaces.go
  pkg/engine/networkinterfaces_test.go
  pkg/engine/templates_generated.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualmachinescalesets_test.go
Due: .pipelines/pr-e2e.yaml

fix pr feedback
  cmd/deploy.go
Due: .pipelines/pr-e2e.yaml

test: disable 1.16 tests for various cluster configs (#2065)
  pkg/api/addons.go
  pkg/api/addons_test.go
  test/e2e/test_cluster_configs/container_monitoring.json
  test/e2e/test_cluster_configs/flannel/docker.json
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
Due: .pipelines/pr-e2e.yaml

test: don’t test for iis pod restart (#2081)
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

test: retry “get pods by prefix substring match”
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

test: retry “kubectl get config”
  test/e2e/kubernetes/config.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

Packer changes.
  packer/configure-windows-vhd.ps1
  packer/windows-vhd-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Update features.md
  docs/topics/features.md
Due: none

test: retry az commands in E2E tests
  test/e2e/azure/cli.go
  test/e2e/runner.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

Updated the folder name
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

removing DOCKER_API_VERSION env variable to see if work-around is still required
  parts/k8s/windowsconfigfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Update features.md (#2087)
  docs/topics/features.md
Due: none

doc feedback
  docs/topics/windows-vhd.md
Due: none

fix: cleaning up features.md
  docs/topics/features.md
Due: none

test: retry “get pods by prefix substring match” (#2083)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

fix: cleaning up features.md (#2090)
  docs/topics/features.md
Due: none

test: retry “kubectl get config” (#2085)
  test/e2e/kubernetes/config.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

test: retry az commands in E2E tests (#2089)
  test/e2e/azure/cli.go
  test/e2e/runner.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

Remove the folders and skip those which we cannot remove.
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes v1.16.1
  packer/install-dependencies.sh
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: container monitoring addon supports other Azure clouds (#2031)
  cmd/deploy.go
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/armhelpers/azurestack/loganalytics.go
  pkg/armhelpers/loganalytics.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

move the cleanup after we do sysprep.
  packer/windows-vhd-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: retry “create pod from file” tests
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

Update docs for dual-stack phase 2
  examples/dualstack/README.md
  examples/dualstack/kubernetes.json
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml

move the cleanup after we do sysprep.
  packer/configure-windows-vhd.ps1
  packer/windows-vhd-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Adding comment about DOCKER_API_VERSION
  parts/k8s/windowsconfigfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: Windows vhd doc (#2070)
  docs/topics/windows-vhd.md
Due: none

fix: remove Azure agent specific artifacts from windows vhd (#2088)
  packer/windows-vhd-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes v1.16.1 (#2092)
  packer/install-dependencies.sh
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: Windows update to docker 19.03.2 (#2071)
  packer/configure-windows-vhd.ps1
  parts/k8s/windowsconfigfunc.ps1
  pkg/api/const.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: add read perms for CSINodes to cluster-autoscaler role
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: retry establishing ssh connection for e2e
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/remote/ssh.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

test notice destination
  packer/vhd-image-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: disable container-monitoring tests
  test/e2e/test_cluster_configs/container_monitoring.json
Due: .pipelines/pr-e2e.yaml

Revert "test notice destination"
  packer/vhd-image-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

move notice
  packer/packer_source.sh
  packer/vhd-image-builder.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
