Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

docs: valid(ish) JSON
  docs/design/custom-container-images.md
Due: none

feat: caching application insights bins in windows vhd
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: make kube-dns addon user-configurable (#2393)
  docs/topics/clusterdefinitions.md
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/kubernetesparams.t
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feat: enable node-problem-detector addon by default
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml

test: enforce that node-problem-detector is on by default
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

docs: note that node-problem-detector is enabled by default
  docs/topics/clusterdefinitions.md
  examples/addons/node-problem-detector/README.md
Due: .pipelines/pr-e2e.yaml

chore: remove k8s 1.11 from VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: remove support for Kubernetes 1.11.x
  .pipelines/pr-e2e.yaml
  cmd/generate_test.go
  cmd/rotate_certs_test.go
  examples/addons/nvidia-device-plugin/nvidia-device-plugin.json
  examples/kubernetes-releases/kubernetes1.11.json
  examples/windows/kubernetes-hyperv.json
  pkg/api/apiloader_test.go
  pkg/api/common/versions.go
  pkg/api/convertertoagentpoolonlyapi_test.go
  pkg/api/defaults-kubelet_test.go
  pkg/api/defaults_test.go
  pkg/api/types_test.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/testdata/addons/kubernetes-custom-psp.json
  pkg/engine/testdata/addons/kubernetes-kube-proxy.json
  pkg/engine/testdata/addons/kubernetes.json
  pkg/engine/testdata/agentPoolOnly/v20170831/agents.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agents.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agentsWithFullNetworkProfile.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agentsWithFullNetworkProfileV2.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agentsWithOnlyNetworkPlugin.json
  pkg/engine/testdata/azurestack/kubernetes.json
  pkg/engine/testdata/disks-managed/kubernetes-vmss.json
  pkg/engine/testdata/key-vault-certs/kubernetes.json
  pkg/engine/testdata/kubernetesversions/kubernetes1.12.json
  pkg/engine/testdata/largeclusters/kubernetes-vmss.json
  pkg/engine/testdata/windows/kubernetes-kubernetesconfig.json
  pkg/engine/testdata/windows/kubernetes-vmss.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: remove k8s 1.12 from VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: rollback to 1.13.11 in tests
  examples/customfiles/kubernetes-customfiles-podnodeselector.json
  pkg/api/apiloader_test.go
  pkg/api/convertertoagentpoolonlyapi_test.go
  pkg/api/types_test.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/testdata/agentPoolOnly/v20170831/agents.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agents.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agentsWithFullNetworkProfile.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agentsWithFullNetworkProfileV2.json
  pkg/engine/testdata/agentPoolOnly/v20180331/agentsWithOnlyNetworkPlugin.json
  pkg/engine/testdata/key-vault-certs/kubernetes.json
  pkg/engine/testdata/mastersonly/mastersonly.json
  pkg/operations/kubernetesupgrade/upgradecluster_test.go
Due: .pipelines/pr-e2e.yaml

chore: cleanup addons and legacy cruft
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/defaults-apiserver.go
  pkg/api/defaults-apiserver_test.go
  pkg/api/defaults-kubelet.go
  pkg/api/defaults-kubelet_test.go
  pkg/api/defaults.go
  pkg/api/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

test: remove 1.12 from test configs
  test/e2e/test_cluster_configs/container_monitoring.json
  test/e2e/test_cluster_configs/everything.json
  test/e2e/test_cluster_configs/flannel/docker.json
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network_policy/azure.json
  test/e2e/test_cluster_configs/network_policy/calico.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
  test/e2e/test_cluster_configs/rbac_disabled.json
  test/e2e/test_cluster_configs/sgx.json
Due: .pipelines/pr-e2e.yaml

feat: support transparent mode for Azure CNI (#2259)
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/kubernetesparams.t
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/types.go
  pkg/api/vlabs/const.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Adding TelemetryProfile to in pkg/api
  pkg/api/const.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
Due: .pipelines/pr-e2e.yaml

adding TelemetryProfile and conversion methions to pkg/api/vlabs
  pkg/api/converterfromapi.go
  pkg/api/converterfromapi_test.go
  pkg/api/convertertoapi.go
  pkg/api/convertertoapi_test.go
  pkg/api/vlabs/types.go
Due: .pipelines/pr-e2e.yaml

Adding telemetry variarbles to ARM template
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
Due: .pipelines/pr-e2e.yaml

Removing check for only allowing EnableTelemetry for Azure Stack
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

refactor: make coredns addon user-configurable
  docs/topics/clusterdefinitions.md
  parts/k8s/addons/coredns.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/kubernetesparams.t
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/defaults_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
  test/e2e/go.sum
Due: .pipelines/pr-e2e.yaml

chore: consts cleanup and move source file to containeraddons dir
  parts/k8s/containeraddons/coredns.yaml
  pkg/api/addons.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: configurable component images design doc (#2408)
  docs/design/custom-container-images.md
Due: none

chore: enable kube-dns
  pkg/api/addons.go
  pkg/api/addons_test.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/test_cluster_configs/kube-dns.json
Due: .pipelines/pr-e2e.yaml

Updating default app insights key
  pkg/api/const.go
  pkg/api/defaults_test.go
  pkg/engine/armvariables_test.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.17.0
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/api/common/versions.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add Kubernetes 1.17.0 to VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: add Kubernetes 1.17.0 to Windows VHD
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add new skus - gpu enabled ND40 in particular
  pkg/api/common/helper.go
  pkg/helpers/azureconst.go
Due: .pipelines/pr-e2e.yaml

fix: add Ev4 series instead of replacing Ev3
  pkg/helpers/azureconst.go
Due: .pipelines/pr-e2e.yaml

Enable telemetry by default for all e2e runs
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

feat: support transparent mode for Azure CNI (#2259) (#2414)
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/kubernetesparams.t
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/types.go
  pkg/api/vlabs/const.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.17.0 (#2413)
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/api/common/versions.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: nil ptr when deref of feature flags in e2e test
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

fix: check nil instead of non nil
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

feat: add function map entries for telemetry
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

refactor: make coredns addon user-configurable (#2416)
  docs/topics/clusterdefinitions.md
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/containeraddons/coredns.yaml
  parts/k8s/kubernetesparams.t
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
  test/e2e/go.sum
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/test_cluster_configs/kube-dns.json
Due: .pipelines/pr-e2e.yaml

feat: Adding 1.14.9, 1.15.6, and 1.16.3 k8s packages to windows vhd
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Telemetry doc
  docs/topics/telemetry.md
Due: none

feat: Adding some settings for telemetry collection to api model (#2417)
  docs/topics/telemetry.md
  pkg/api/const.go
  pkg/api/converterfromapi.go
  pkg/api/converterfromapi_test.go
  pkg/api/convertertoapi.go
  pkg/api/convertertoapi_test.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

docs: document that upgrade doesn't work
  docs/topics/keyvault-secrets.md
Due: none
