Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

move CI outside of GOPATH
  .pipelines/e2e-job-template.yaml
  .pipelines/e2e-step-template.yaml
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

minor doc updates
  docs/topics/azure-stack.md
  docs/tutorials/containermonitoringaddon.md
Due: none

feat: add support for Kubernetes v1.14.8 (#2159)
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.13.12 (#2160)
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

chore: fix go mod build for ci
  Makefile
  go.mod
  go.sum
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
  tools.go
Due: .pipelines/pr-e2e.yaml

Add 1.14.8, 1.15.5, and 1.16.2 k8s packages to windows VHD
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes v1.15.5 (#2164)
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

push latest yamls
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add Kubernetes 1.13.12 and 1.14.8 to VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: remove older 1.13.x and 1.14.x versions from VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: add 1.16.2 and 1.15.5 to VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes v1.16.2 (#2163)
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

add labels on health service and crd
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add Kubernetes patch releases to VHD (#2162)
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Windows example json file
  examples/azure-stack/kubernetes-windows.json
Due: .pipelines/pr-e2e.yaml

Add 1.14.8, 1.15.5, and 1.16.2 k8s packages to windows VHD (#2167)
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Windows example json file (#2169)
  examples/azure-stack/kubernetes-windows.json
Due: .pipelines/pr-e2e.yaml

Adding steps to download log collection scripts during windows node setup
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: Adding collectlogs.ps1 to windows AKS VHD (#2156)
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: deploy CSI drivers for Azure Disk / Azure File when cloud-controller-manager is enabled
  docs/topics/clusterdefinitions.md
  parts/k8s/containeraddons/kubernetesmasteraddons-azuredisk-csi-driver-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-azurefile-csi-driver-deployment.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Address PR comment
  parts/k8s/addons/kubernetesmasteraddons-azure-csi-storage-classes.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-azuredisk-csi-driver-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-azurefile-csi-driver-deployment.yaml
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: rev VHD images to 2019.10.15
  pkg/api/azenvtypes.go
  releases/vhd-notes/aks-ubuntu-1604/aks-ubuntu-1604-201910_2019.10.15.txt
  releases/vhd-notes/aks-ubuntu-1804/aks-ubuntu-1804-201910_2019.10.15.txt
Due: .pipelines/pr-e2e.yaml

chore: add new k8s releases to VHD CI spec (#1976)
  docs/topics/azure-stack.md
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Add v1.16.0 support (#2029)
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes v1.16.1 (#2092)
  packer/install-dependencies.sh
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes 1.17.0-alpha.1 (#2112)
  .pipelines/pr-e2e.yaml
  examples/kubernetes-releases/kubernetes1.17.json
  packer/install-dependencies.sh
  parts/k8s/addons/1.17/kubernetesmaster-audit-policy.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-azure-cloud-provider-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/containeraddons/1.17/azure-cni-networkmonitor.yaml
  parts/k8s/containeraddons/1.17/ip-masq-agent.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-heapster-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kube-rescheduler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kubernetes-dashboard-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-tiller-deployment.yaml
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/api/common/versions.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: Windows vhd artifact caching (#1943)
  packer/configure-windows-vhd.ps1
  packer/write-release-notes-windows.ps1
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsinstallopensshfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: Skip downloading of pause image if image already present in windows vhd (#2040)
  packer/configure-windows-vhd.ps1
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: Windows update to docker 19.03.2 (#2071)
  packer/configure-windows-vhd.ps1
  parts/k8s/windowsconfigfunc.ps1
  pkg/api/const.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Adding 1.16.1 version support. (#2143)
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Updating aks-engine to use oct windows aks vhd
  pkg/api/azenvtypes.go
  releases/vhd-notes/aks-windows/2019-datacenter-core-smalldisk-17763.805.191016.txt
Due: .pipelines/pr-e2e.yaml

update generated
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: Update mirror probe port (#1892)
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/vmextensions.go
  pkg/engine/vmextensions_test.go
Due: .pipelines/pr-e2e.yaml

fix test
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

chore: document some bug workarounds
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
