Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

test: use LOCATION env var for api model in E2E tests
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

test: use LOCATION env var for api model in E2E tests (#2542)
  test/e2e/engine/template.go
Due: .pipelines/pr-e2e.yaml

test: use vanilla busybox image for E2E tests
  test/e2e/kubernetes/workloads/dns-liveness.yaml
Due: .pipelines/pr-e2e.yaml

Adding a task to clean hack/tools/bin
  .pipelines/publish-sku.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Updating NPM CPU and Memory requests and limits
  parts/k8s/addons/1.16/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/addons/1.18/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/addons/kubernetesmasteraddons-azure-npm-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

fix: promote system addons to system-cluster-critical (#2533)
  parts/k8s/addons/1.16/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/addons/1.16/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/addons/1.16/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/addons/1.18/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/addons/1.18/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/addons/1.18/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/addons/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/addons/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/addons/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: update des reference
  test/e2e/test_cluster_configs/byok.json
Due: .pipelines/pr-e2e.yaml

test: use northeurope for byok testing (#2536)
  test/e2e/test_cluster_configs/byok.json
Due: .pipelines/pr-e2e.yaml

Fixes for adding pub to hack/tools
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
Due: .pipelines/pr-e2e.yaml

deleting github merge auto-generated files
  parts/k8s/addons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml~HEAD
  parts/k8s/addons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml~upstream_master
  parts/k8s/addons/1.18/kubernetesmasteraddons-omsagent-daemonset.yaml~HEAD
  parts/k8s/addons/1.18/kubernetesmasteraddons-omsagent-daemonset.yaml~upstream_master
Due: .pipelines/pr-e2e.yaml

Adding back 1.17 omsagent yaml changes
  parts/k8s/addons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
Due: .pipelines/pr-e2e.yaml

lock in pub@v0.2.0 in hack/tools/Makefile
  hack/tools/Makefile
Due: .pipelines/pr-e2e.yaml

Renaming verbage around creating vs publishing sku
  .pipelines/marketplace-sku.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Updating generated file to address build failures
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: use vanilla busybox image for E2E tests (#2544)
  test/e2e/kubernetes/workloads/dns-liveness.yaml
Due: .pipelines/pr-e2e.yaml

perf: upgrade AKS tunnel image in VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: update containermonitoring addon for december release (#2481)
  parts/k8s/addons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/addons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
  pkg/engine/testdata/key-vault-certs/kubernetes.json
  test/e2e/test_cluster_configs/container_monitoring.json
Due: .pipelines/pr-e2e.yaml

feat: build pipeline to create new marketplace vhd skus for windows (#2537)
  .pipelines/marketplace-sku.yaml
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  vhd/publishing/new-windows-sku.sh
  vhd/publishing/windows-sku-template.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

perf: upgrade AKS tunnel image in VHD (#2546)
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: create windows vhd publishing file in build pipeline (#2529)
  .pipelines/vhd-builder-windows.yaml
  packer.mk
  packer/generate-windows-vhd-publishing-info.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: Adding script to add a vhd image to a sku in azure marketplace
  vhd/publishing/add-image-version-to-sku.sh
Due: .pipelines/pr-e2e.yaml

fixing linting issues in add-image-version-to-sku.sh
  vhd/publishing/add-image-version-to-sku.sh
Due: .pipelines/pr-e2e.yaml

fix: marketplace-sku.yaml - fix for secret variables
  .pipelines/marketplace-sku.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Adding more context to windows CSE and also events for when files are downloaded
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Adding application insights telemetry to windows CSE
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

adding generated code to pacify linter
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: enable SLB with private clusters
  pkg/engine/armresources.go
  pkg/engine/armvariables.go
  pkg/engine/loadbalancers.go
  pkg/engine/masterarmresources.go
  pkg/engine/networkinterfaces.go
Due: .pipelines/pr-e2e.yaml

Azure Spot VMs support
  pkg/api/const.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualmachinescalesets_test.go
Due: .pipelines/pr-e2e.yaml

add doc
  docs/topics/clusterdefinitions.md
Due: none

fix: Remove PodPriority feature gate
  pkg/api/defaults-kubelet.go
  pkg/api/defaults-kubelet_test.go
Due: .pipelines/pr-e2e.yaml

chore: bump coredns to v1.6.6
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Add the new field in vlabs and related unit tests
  cmd/generate_test.go
  docs/topics/clusterdefinitions.md
  examples/kubernetes-vmss-spot/kubernetes.json
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/types_test.go
Due: .pipelines/pr-e2e.yaml

fix unit test
  examples/kubernetes-vmss-spot/kubernetes.json
  pkg/api/vlabs/types.go
Due: .pipelines/pr-e2e.yaml

fix: Remove PodPriority feature gate (#2554)
  pkg/api/defaults-kubelet.go
  pkg/api/defaults-kubelet_test.go
Due: .pipelines/pr-e2e.yaml

fix: marketplace-sku.yaml - fix for secret variables (#2556)
  .pipelines/marketplace-sku.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: add agent pool to SLB backend pool
  pkg/engine/networkinterfaces.go
  pkg/engine/virtualmachinescalesets.go
Due: .pipelines/pr-e2e.yaml

Use moby packages to get containerd.
  parts/k8s/cloud-init/artifacts/cse_install.sh
Due: .pipelines/pr-e2e.yaml

chore: bump coredns to v1.6.6 (#2555)
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

adding the Standard_DS12_v2 sku the accelerated network list
  pkg/helpers/helpers.go
  pkg/helpers/helpers_test.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
