Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

test: add CharDevice device type to SGX in volume
  test/e2e/kubernetes/workloads/sgx-test.yaml
Due: .pipelines/pr-e2e.yaml

refactor: install kube- components without hyperkube
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/kubernetesparams.t
  pkg/api/k8s_versions.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: remove unneeded sed command in addon manifest
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: use canonical repo for k8s core components temporarily
  pkg/engine/params_k8s.go
Due: .pipelines/pr-e2e.yaml

refactor: use 1.17-specific manifests for core components
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: scale back to just hyperkube changes, not MCR
  packer/install-dependencies.sh
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: pull separate kube- components in VHD install
  packer/install-dependencies.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: remove 1.17.0-alpha.2 from VHD install
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: don't fetch cloud-controller-manager for Azure Stack
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: pre-download kube- binaries to VHD
  packer/install-dependencies.sh
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: update UT expectation for 1.17 components
  pkg/api/k8s_versions_test.go
Due: .pipelines/pr-e2e.yaml

fix: provide KUBE_BINARY_URL default value
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: ensure manifests aren't change by go template processing
  pkg/engine/artifacts.go
  pkg/engine/const.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml

test: ensure manifests aren't change by go template processing (#2310)
  pkg/engine/artifacts.go
  pkg/engine/const.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml

docs: Working way to use SGX (#2291)
  docs/topics/sgx.md
  test/e2e/kubernetes/workloads/sgx-test.yaml
Due: .pipelines/pr-e2e.yaml

refactor: install kube- components without hyperkube for k8s 1.17+ (#2191)
  packer/install-dependencies.sh
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/kubernetesparams.t
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes v1.17.0-alpha.3
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes v1.17.0-alpha.2
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes v1.17.0-beta.1
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes v1.17.0-beta.1 (#2158)
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

fix: remove support for v1.13.12, v1.14.8, v1.15.5, v1.16.2
  docs/topics/azure-stack.md
  packer/install-dependencies.sh
  pkg/api/addons_test.go
  pkg/api/common/versions.go
  pkg/api/common/versions_test.go
  pkg/api/defaults-cloud-controller-manager_test.go
  pkg/api/defaults_test.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: manifest specs are rendered at template generation time
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/kubernetesparams.t
  parts/k8s/manifests/kubernetesmaster-kube-addon-manager.yaml
  pkg/engine/engine_test.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: more manifests
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/kubernetesparams.t
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-scheduler.yaml
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: more manifests
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/kubernetesmaster-cloud-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager-custom.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-scheduler.yaml
  pkg/api/common/helper.go
  pkg/api/common/helper_test.go
  pkg/engine/engine_test.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: <args> refactor for custom controller-manager spec
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager-custom.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Apply suggestions from code review
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
Due: .pipelines/pr-e2e.yaml

fix: remove support for v1.13.12, v1.14.8, v1.15.5, v1.16.2 (#2314)
  docs/topics/azure-stack.md
  packer/install-dependencies.sh
  pkg/api/addons_test.go
  pkg/api/common/versions.go
  pkg/api/common/versions_test.go
  pkg/api/defaults-cloud-controller-manager_test.go
  pkg/api/defaults_test.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/engine_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix unit test
  pkg/engine/armvariables_test.go
Due: .pipelines/pr-e2e.yaml

fix: remove support for v1.13.12, v1.14.8, v1.15.5, v1.16.2
  docs/topics/azure-stack.md
  pkg/api/common/versions.go
  pkg/api/common/versions_test.go
Due: .pipelines/pr-e2e.yaml

refactor: we no longer need kubernetesCcmImageSpec param
  parts/k8s/kubernetesparams.t
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: no more cosmos etcd sed
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/api/defaults-apiserver.go
  pkg/api/defaults-apiserver_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: custom search domain script via go template
  parts/k8s/cloud-init/artifacts/setup-custom-search-domains.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/kubernetesparams.t
  pkg/engine/engine_test.go
  pkg/engine/params.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: UT!
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

test: UT coverage for HasCustomSearchDomain template func
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

removed 1.13 from az docs
  docs/topics/azure-stack.md
Due: none

docs: supported versions for disconnected Azure Stacks using VHD 2019.10.24
  docs/topics/azure-stack.md
Due: none

updates for ciprod11012019 agent image
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
  pkg/engine/testdata/key-vault-certs/kubernetes.json
Due: .pipelines/pr-e2e.yaml

update
  docs/topics/azure-stack.md
Due: none

chore: remove unused func params
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

refactor: rationalize defaults enforcement order
  pkg/api/defaults-kubelet.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml
