Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

fix: default useCloudControllerManager to false for 1.17 (#2372)
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  pkg/api/addons_test.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

chore: add daemonset-pod annotation for cluster-autoscaler
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cloud-node-manager.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add daemonset-pod annotation to other manifests
  parts/k8s/addons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/containeraddons/1.17/azure-cni-networkmonitor.yaml
  parts/k8s/containeraddons/1.17/ip-masq-agent.yaml
  parts/k8s/containeraddons/node-problem-detector.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: sync manifest with upstream changes
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: update cluster-autoscaler to 1.17.0
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

ci: enforce shell script formatting
  scripts/validate-shell.sh
Due: .pipelines/pr-e2e.yaml

style: format shell scripts to comply with shfmt
  extensions/dnsupdate/v1/register-dns.sh
  extensions/hello-world-k8s/v1/hello-world-k8s.sh
  extensions/prometheus-grafana-k8s/v1/prometheus-grafana-k8s.sh
  packer/cleanup-vhd.sh
  packer/init-variables.sh
  packer/install-dependencies.sh
  packer/packer_source.sh
  packer/vhd-rg-cleanup.sh
  parts/k8s/cloud-init/artifacts/cis.sh
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/artifacts/cse_customcloud.sh
  parts/k8s/cloud-init/artifacts/cse_helpers.sh
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  parts/k8s/cloud-init/artifacts/enable-dhcpv6.sh
  parts/k8s/cloud-init/artifacts/generateproxycerts.sh
  parts/k8s/cloud-init/artifacts/health-monitor.sh
  parts/k8s/cloud-init/artifacts/mountetcd.sh
  pkg/engine/templates_generated.go
  scripts/azure-const.sh
  scripts/build-windows-k8s.sh
  scripts/convert-lcg-lcl.sh
  scripts/copyright-header.sh
  scripts/coverage.sh
  scripts/ensure-generated.sh
  scripts/get-akse.sh
  scripts/ginkgo.coverage.sh
  scripts/update-translation.sh
  scripts/validate-copyright-header.sh
  scripts/validate-go.sh
  test/e2e/build.sh
  test/e2e/cleanup.sh
  test/e2e/cluster.sh
  test/e2e/kubernetes/scripts/CIS-files-validate.sh
  test/e2e/kubernetes/scripts/cloudprovider-config-validate.sh
  test/e2e/kubernetes/scripts/sshd-config-validate.sh
  test/e2e/kubernetes/scripts/ubuntu-installed-packages-validate.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

style: add -s (simplify) flag to shfmt
  extensions/prometheus-grafana-k8s/v1/prometheus-grafana-k8s.sh
  packer/vhd-rg-cleanup.sh
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/artifacts/cse_customcloud.sh
  parts/k8s/cloud-init/artifacts/cse_helpers.sh
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  parts/k8s/cloud-init/artifacts/generateproxycerts.sh
  parts/k8s/cloud-init/artifacts/health-monitor.sh
  pkg/engine/templates_generated.go
  scripts/get-akse.sh
  scripts/update-translation.sh
  scripts/validate-shell.sh
  test/e2e/cleanup.sh
  test/e2e/kubernetes/scripts/host-os-dns-validate.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: add UT to measure customData size
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

fix: lower the bar for acceptable template size based on master
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

test: add UT for kubernetesContainerAddonSettingsInit
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
Due: .pipelines/pr-e2e.yaml

wip including test
  cmd/deploy.go
  pkg/armhelpers/azurestack/vmImage.go
  pkg/armhelpers/httpMockClient.go
  pkg/armhelpers/interfaces.go
  pkg/armhelpers/support-validator.go
  pkg/armhelpers/vmImage.go
  pkg/armhelpers/vmImage_test.go
Due: .pipelines/pr-e2e.yaml

images api test
  cmd/deploy.go
  pkg/armhelpers/azureclient.go
  pkg/armhelpers/azurestack/resultPageClient.go
  pkg/armhelpers/image.go
  pkg/armhelpers/interfaces.go
Due: .pipelines/pr-e2e.yaml

fixed variables in test
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

fix: final pr for review
  cmd/deploy.go
  pkg/armhelpers/azureclient.go
  pkg/armhelpers/azurestack/azureclient.go
  pkg/armhelpers/azurestack/image.go
  pkg/armhelpers/azurestack/resultPageClient.go
  pkg/armhelpers/azurestack/vmImage.go
  pkg/armhelpers/image.go
  pkg/armhelpers/interfaces.go
  pkg/armhelpers/support-validator.go
  pkg/armhelpers/vmImage.go
Due: .pipelines/pr-e2e.yaml

tests working
  cmd/deploy.go
  examples/azure-stack/kubernetes-azurestack.json
  pkg/armhelpers/azurestack/httpMockClient.go
  pkg/armhelpers/azurestack/httpMockClientData/getVirtualMachineImage.json
  pkg/armhelpers/azurestack/httpMockClientData/listVirtualMachineImages.json
  pkg/armhelpers/azurestack/vmImage_test.go
  pkg/armhelpers/httpMockClient.go
  pkg/armhelpers/httpMockClientData/getVirtualMachineImage.json
  pkg/armhelpers/httpMockClientData/listVirtualMachineImages.json
Due: .pipelines/pr-e2e.yaml

added image api
  cmd/deploy.go
  pkg/armhelpers/azurestack/azureclient.go
  pkg/armhelpers/azurestack/image.go
  pkg/armhelpers/azurestack/resultPageClient.go
  pkg/armhelpers/interfaces.go
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

fixed tests and code complete
  pkg/armhelpers/azurestack/httpMockClientData/listVirtualMachineImages.json
  pkg/armhelpers/azurestack/vmImage_test.go
  pkg/armhelpers/httpMockClientData/listVirtualMachineImages.json
  pkg/armhelpers/vmImage_test.go
Due: .pipelines/pr-e2e.yaml

fix: use arbitrary data for cloud-node-manager
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
Due: .pipelines/pr-e2e.yaml

chore: update cluster-autoscaler to 1.17.0 (#2390)
  packer/install-dependencies.sh
  parts/k8s/addons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/containeraddons/1.17/azure-cni-networkmonitor.yaml
  parts/k8s/containeraddons/1.17/ip-masq-agent.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cloud-node-manager.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  parts/k8s/containeraddons/node-problem-detector.yaml
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

generated templates
  pkg/armhelpers/azurestack/vmImage.go
  pkg/armhelpers/vmImage.go
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

changed file formats
  pkg/armhelpers/azurestack/vmImage.go
  pkg/armhelpers/azurestack/vmImage_test.go
  pkg/armhelpers/support-validator.go
  pkg/armhelpers/vmImage.go
  pkg/armhelpers/vmImage_test.go
Due: .pipelines/pr-e2e.yaml

added coryright headers
  pkg/armhelpers/azurestack/vmImage.go
  pkg/armhelpers/azurestack/vmImage_test.go
  pkg/armhelpers/support-validator.go
  pkg/armhelpers/vmImage.go
  pkg/armhelpers/vmImage_test.go
Due: .pipelines/pr-e2e.yaml

Updating Azure CNI and NPM to v1.0.30; removing telemetry side from NPM; set resource limits on NPM
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
  parts/k8s/containeraddons/kubernetesmasteraddons-azure-npm-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: don't calculate code coverage on const-only files
  .codecov/codecov.yml
Due: .pipelines/pr-e2e.yaml

docs: clarify Key Vault as secrets documentation
  docs/topics/README.md
  docs/topics/keyvault-secrets.md
Due: none

test: add UT for kubernetesContainerAddonSettingsInit (#2399)
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
Due: .pipelines/pr-e2e.yaml

refactor: make kube-dns addon user-configurable
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/kubernetesparams.t
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add docs for kube-dns, disable if upgrade to 1.12
  docs/topics/clusterdefinitions.md
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
Due: .pipelines/pr-e2e.yaml

added test validation
  pkg/armhelpers/httpMockClient.go
  pkg/armhelpers/support-validator_test.go
Due: .pipelines/pr-e2e.yaml

addressing Jack's comments
  packer/install-dependencies.sh
  parts/k8s/containeraddons/kubernetesmasteraddons-azure-npm-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: update azure sdk to support BYOK
  go.mod
  go.sum
  pkg/armhelpers/httpMockClient.go
  test/e2e/go.mod
  test/e2e/go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/availabilitysets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/dedicatedhostgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/dedicatedhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/diskencryptionsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/images.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/loganalytics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/proximityplacementgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineextensionimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineruncommands.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetrollingupgrades.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetvmextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetvms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinesizes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Due: .pipelines/pr-e2e.yaml

chore: update azure sdk to support BYOK (#2395)
  go.mod
  go.sum
  pkg/armhelpers/httpMockClient.go
  test/e2e/go.mod
  test/e2e/go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/availabilitysets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/dedicatedhostgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/dedicatedhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/diskencryptionsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/images.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/loganalytics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/proximityplacementgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineextensionimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineruncommands.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetrollingupgrades.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetvmextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetvms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinesizes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Due: .pipelines/pr-e2e.yaml

chore: update go toolchain to 1.13.5
  .devcontainer.json
  .pipelines/pr-e2e.yaml
  .pipelines/vhd-builder.yaml
  Makefile
  makedev.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: update go toolchain to 1.13.5 (#2405)
  .devcontainer.json
  .pipelines/pr-e2e.yaml
  .pipelines/vhd-builder.yaml
  Makefile
  makedev.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

reverted kubeconfig for azurestack
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

docs: review comments
  docs/topics/keyvault-secrets.md
Due: none

docs: consolidate key vault docs
  examples/keyvault-params/README.md
Due: .pipelines/pr-e2e.yaml

Pull request changes
  cmd/deploy.go
  examples/azure-stack/kubernetes-azurestack.json
  pkg/armhelpers/azurestack/vmImage.go
  pkg/armhelpers/support-validator.go
Due: .pipelines/pr-e2e.yaml

docs: configurable component images design doc
  docs/design/custom-container-images.md
Due: none
