Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

chore: update SKU reference to 1604-201909
  pkg/api/azenvtypes.go
Due: .pipelines/pr-e2e.yaml

chore: rev VHD to 2019.09.24 (#2035)
  pkg/api/azenvtypes.go
  releases/vhd-notes/aks-ubuntu-1604/aks-ubuntu-1604-201908_2019.09.24.txt
  releases/vhd-notes/aks-ubuntu-1804/aks-ubuntu-1804-201908_2019.09.24.txt
Due: .pipelines/pr-e2e.yaml

chore: update cluster-autoscaler to latest patch releases
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix lint errors
  cmd/deploy.go
  pkg/api/addons.go
Due: .pipelines/pr-e2e.yaml

chore: update go toolchain to 1.12.10 (#2034)
  .devcontainer.json
  .pipelines/pr-e2e.yaml
  .pipelines/vhd-builder.yaml
  Makefile
  makedev.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

docs: changing example to use the aks base image and eliminate entry for k8s version (#2017)
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

Revert "ci: Win CSE benchmark tests (#2023)"
  Jenkinsfile
  test/e2e/test_cluster_configs/windows/cse_benchmark_aks_vhds.json
  test/e2e/test_cluster_configs/windows/cse_benchmark_win_vhds.json
Due: .pipelines/pr-e2e.yaml

e2e: fix missing null coalescing operator
  Jenkinsfile
Due: .pipelines/pr-e2e.yaml

dualstack phase2 changes
  examples/dualstack/kubernetes.json
  parts/k8s/addons/1.16/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  pkg/api/defaults.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/ipaddresses.go
  pkg/engine/ipaddresses_test.go
  pkg/engine/loadbalancers.go
  pkg/engine/loadbalancers_test.go
  pkg/engine/masterarmresources.go
  pkg/engine/networkinterfaces.go
  pkg/engine/networkinterfaces_test.go
  pkg/engine/templates_generated.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualmachinescalesets_test.go
Due: .pipelines/pr-e2e.yaml

e2e: fix missing null coalescing operator (#2043)
  Jenkinsfile
Due: .pipelines/pr-e2e.yaml

fix: verify LCOW in makedev.ps1 (#2037)
  docs/community/developer-guide.md
  makedev.ps1
Due: .pipelines/pr-e2e.yaml

docs: propose dedicated AKS release process
  docs/design/aks-release-process.md
Due: none

chore: clarify cherry-picks during new release cut
  docs/design/aks-release-process.md
Due: none

test: availability zones not available in all regions
  test/e2e/test_cluster_configs/everything.json
Due: .pipelines/pr-e2e.yaml

chore: update cluster-autoscaler to latest patch releases (#2038)
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Wait for management IP after creating ext network.
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: availability zones not available in all regions (#2047)
  test/e2e/test_cluster_configs/everything.json
Due: .pipelines/pr-e2e.yaml

fix: fixes cluster preprovisioning script download on azurestack.
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix the tagging issue
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feat: Skip downloading of pause image if image already present in windows vhd (#2040)
  packer/configure-windows-vhd.ps1
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Temp rotate certs fix
  cmd/rotate_certs.go
Due: .pipelines/pr-e2e.yaml

chore: validate MS moby 3.0.7 candidate build
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: update generated files
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: work around lack of -cli package
  parts/k8s/cloud-init/artifacts/cse_install.sh
Due: .pipelines/pr-e2e.yaml

chore: update cli ref to v3.0.7
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Windows vhd specific changes to work on air gap.
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsazurecnifunc.ps1
  parts/k8s/windowsconfigfunc.ps1
  parts/k8s/windowsinstallopensshfunc.ps1
Due: .pipelines/pr-e2e.yaml

Add docker version check.
  parts/k8s/windowsconfigfunc.ps1
Due: .pipelines/pr-e2e.yaml

generated files
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Add geenrate file
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: updating windows release notes script to set a file encoding
  packer/write-release-notes-windows.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

remove one docker version call.
  parts/k8s/windowsconfigfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix casing in azure stack
  pkg/api/azenvtypes.go
  pkg/api/defaults-custom-cloud-profile.go
  pkg/api/defaults_test.go
  pkg/engine/armresources.go
  pkg/engine/deployment.go
  pkg/engine/deployment_test.go
Due: .pipelines/pr-e2e.yaml

test: don’t timeout k8s resource deletes in E2E
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/hpa/hpa.go
  test/e2e/kubernetes/persistentvolumeclaims/persistentvolumeclaims.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/service/service.go
Due: .pipelines/pr-e2e.yaml

updating windows docker version to 19.03.2
  packer/configure-windows-vhd.ps1
  parts/k8s/windowsconfigfunc.ps1
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

adding generated templates
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

only list versions with apt sources fix
  docs/topics/azure-stack.md
Due: none

docs: adding a doc for windows aks vhds
  docs/topics/windows-vhd.md
Due: none

fixing external links in doc
  docs/topics/windows-vhd.md
Due: none

feat: Skip installing docker if already installed on windows vhd (#2052)
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsazurecnifunc.ps1
  parts/k8s/windowsconfigfunc.ps1
  parts/k8s/windowsinstallopensshfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: incorporated change requests
  cmd/scale.go
  cmd/upgrade.go
  pkg/api/azenvtypes.go
  pkg/api/defaults-custom-cloud-profile.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
