Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

fix: validation
  pkg/api/vlabs/validate.go
Due: .pipelines/pr-e2e.yaml

test: don’t test auditd against windows nodes
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

fix: remove unnecessary not nil checks
  pkg/api/types.go
Due: .pipelines/pr-e2e.yaml

chore: fix auditd for non-VHD scenarios
  packer/install-dependencies.sh
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/const.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: retry "get nodes that match regex" test (#2120)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/node/node.go
Due: .pipelines/pr-e2e.yaml

fix: auditd improvements (#2078)
  packer/install-dependencies.sh
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/validate.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/const.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/test_cluster_configs/everything.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: restore original moby apt prod.list URL
  parts/k8s/cloud-init/artifacts/cse_install.sh
Due: .pipelines/pr-e2e.yaml

chore: generated code
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: correcting grammatical mistakes
  docs/tutorials/containermonitoringaddon.md
Due: none

docs: correcting grammatical mistakes (#2122)
  docs/tutorials/containermonitoringaddon.md
Due: none

test: add test Job for sgx
  test/e2e/kubernetes/workloads/sgx-test.yaml
Due: .pipelines/pr-e2e.yaml

test: actually run SGX tests
  pkg/api/common/helper.go
  pkg/api/types.go
  pkg/api/types_test.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/workloads/sgx-test.yaml
Due: .pipelines/pr-e2e.yaml

test: only retry up to one minute during initial soak cluster run
  test/e2e/runner.go
Due: .pipelines/pr-e2e.yaml

test: don't delete non-existent rg
  test/e2e/runner.go
Due: .pipelines/pr-e2e.yaml

fix: process azure cni excpetion list addresses to work aroudn issue in rs5
  parts/k8s/windowsazurecnifunc.ps1
  parts/k8s/windowsazurecnifunc.tests.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: restore original moby apt prod.list URL (#2121)
  parts/k8s/cloud-init/artifacts/cse_install.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: tidying up
  docs/topics/aad.md
  docs/topics/architecture.md
  docs/topics/clusterdefinitions.md
  docs/topics/extensions.md
  docs/topics/features.md
  docs/topics/gpu.md
  docs/topics/kubernetes-developers.md
  docs/topics/kubernetes-walkthrough.md
  docs/topics/monitoring.md
  docs/topics/upgrade.md
  docs/topics/windows-and-kubernetes.md
  docs/tutorials/quickstart.md
Due: none

code review feedback
  parts/k8s/windowsazurecnifunc.ps1
  parts/k8s/windowsazurecnifunc.tests.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: tidying up (#2126)
  docs/topics/aad.md
  docs/topics/architecture.md
  docs/topics/clusterdefinitions.md
  docs/topics/extensions.md
  docs/topics/features.md
  docs/topics/gpu.md
  docs/topics/kubernetes-developers.md
  docs/topics/kubernetes-walkthrough.md
  docs/topics/monitoring.md
  docs/topics/upgrade.md
  docs/topics/windows-and-kubernetes.md
  docs/tutorials/quickstart.md
Due: none

feat: expose PlatformFaultDomainCount in the apimodel
  pkg/api/types.go
  pkg/api/vlabs/types.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualmachinescalesets_test.go
Due: .pipelines/pr-e2e.yaml

fix: don’t assign distro if image ref is provided
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

chore: lint
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

chore: lint
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

chore: add distro + imageRef validation
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

fix: sync metrics-server versions for 1.16 and 1.17
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.17.0-alpha.1
  .pipelines/pr-e2e.yaml
  parts/k8s/addons/1.17/kubernetesmaster-audit-policy.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-azure-cloud-provider-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/containeraddons/1.17/azure-cni-networkmonitor.yaml
  parts/k8s/containeraddons/1.17/ip-masq-agent.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-heapster-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kube-rescheduler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kubernetes-dashboard-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-tiller-deployment.yaml
  pkg/api/common/versions.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: update metrics-server to v0.3.5
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

style: remove code references to 1.16 prerelease versions
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: add example apimodel for Kubernetes 1.17
  examples/kubernetes-releases/kubernetes1.17.json
Due: .pipelines/pr-e2e.yaml

always set the FDCount if it is provided
  pkg/engine/availabilitysets.go
Due: .pipelines/pr-e2e.yaml

fix: goimports
  pkg/api/vlabs/types.go
  pkg/engine/virtualmachinescalesets.go
  pkg/engine/virtualmachinescalesets_test.go
Due: .pipelines/pr-e2e.yaml

test: faster fail during soak test re-build
  test/e2e/runner.go
Due: .pipelines/pr-e2e.yaml

chore: updating windows VHD contents
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add conversion logic for agent pool and master profile
  pkg/api/converterfromapi.go
  pkg/api/converterfromapi_test.go
  pkg/api/convertertoapi.go
Due: .pipelines/pr-e2e.yaml

feat: add support for Kubernetes 1.17.0-alpha.1 (#2112)
  .pipelines/pr-e2e.yaml
  examples/kubernetes-releases/kubernetes1.17.json
  packer/install-dependencies.sh
  parts/k8s/addons/1.17/kubernetesmaster-audit-policy.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-azure-cloud-provider-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-proxy-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/containeraddons/1.17/azure-cni-networkmonitor.yaml
  parts/k8s/containeraddons/1.17/ip-masq-agent.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aad-pod-identity-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-blobfuse-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-heapster-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-keyvault-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kube-rescheduler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-kubernetes-dashboard-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-smb-flexvolume-installer.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-tiller-deployment.yaml
  parts/k8s/kuberneteswindowssetup.ps1
  pkg/api/common/versions.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: faster fail during soak test re-build (#2128)
  test/e2e/runner.go
Due: .pipelines/pr-e2e.yaml

test: remove orchestator configs related to managed identity
  test/e2e/test_cluster_configs/sgx.json
Due: .pipelines/pr-e2e.yaml

test: Add api model entry for sgx
  test/e2e/test_cluster_configs/sgx.json
Due: .pipelines/pr-e2e.yaml

test: change region to westeurope
  test/e2e/test_cluster_configs/sgx.json
Due: .pipelines/pr-e2e.yaml
