Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

Updating windows image regerences to target Sept updates
  docs/topics/clusterdefinitions.md
  packer/windows-vhd-builder.json
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: actually validate VHD fingerprint
  parts/k8s/cloud-init/artifacts/cse_main.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: Update HPA threshold to 80% of pod reserve, not 5%
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

Updating windows image regerences to target Sept updates (#1954)
  docs/topics/clusterdefinitions.md
  packer/windows-vhd-builder.json
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: enable telemetry for scale and upgrade
  cmd/scale.go
  cmd/upgrade.go
  pkg/api/azenvtypes.go
  pkg/api/defaults-custom-cloud-profile.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/engine/armresources.go
  pkg/engine/deployment.go
Due: .pipelines/pr-e2e.yaml

feat: upgrade metrics server to v0.3.4 (#1109)
  parts/k8s/containeraddons/1.10/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.11/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.12/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.13/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.14/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.15/kubernetesmasteraddons-metrics-server-deployment.yaml
  parts/k8s/containeraddons/1.9/kubernetesmasteraddons-metrics-server-deployment.yaml
  pkg/api/defaults-kubelet.go
  pkg/api/defaults-kubelet_test.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

Updating Windows custom script extensions to use artifacts cached on VHD if available
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
Due: .pipelines/pr-e2e.yaml

Updating Windows VHD release notes to include info on chaced files
  packer/write-release-notes-windows.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fixup! Updating Windows VHD release notes to include info on chaced files
  packer/write-release-notes-windows.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Configuring allowed security protocols in windows VHD
  packer/configure-windows-vhd.ps1
  packer/write-release-notes-windows.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fixup! Adding support for caching files to Windows VHD
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fixup! Moving SSH configuration earlier in windows CSE to improve debugability on failure
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Moving SSH configuration earlier in windows CSE to improve debugability on failure
  parts/k8s/kuberneteswindowssetup.ps1
Due: .pipelines/pr-e2e.yaml

Adding support for caching files to Windows VHD
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: improve multiple commands implementation
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

test: use terminated state duration
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

chore: rev vhd to 2019.09.13 (#1955)
  parts/k8s/cloud-init/artifacts/cse_main.sh
  pkg/api/azenvtypes.go
  pkg/engine/templates_generated.go
  releases/vhd-notes/aks-ubuntu-1604/aks-ubuntu-1604-201908_2019.09.13.txt
  releases/vhd-notes/aks-ubuntu-1804/aks-ubuntu-1804-201908_2019.09.13.txt
Due: .pipelines/pr-e2e.yaml

fixed tests
  pkg/api/vlabs/azenvtypes.go
  pkg/engine/deployment_test.go
Due: .pipelines/pr-e2e.yaml

fixed conversion
  pkg/api/converterfromapi.go
Due: .pipelines/pr-e2e.yaml

fixed test
  pkg/api/convertertoapi_test.go
Due: .pipelines/pr-e2e.yaml

Skipping install of OpenSSH Server service if already installed
  parts/k8s/windowsinstallopensshfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

test: tolerance for higher kubectl run scheduling time
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

chore: install metrics-server v0.3.4 via VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: install metrics-server v0.3.4 via VHD (#1959)
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: fix "run multiple commands in succession" implementation (#1956)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/pod/pod.go
Due: .pipelines/pr-e2e.yaml

chore: add back compat E2E tests for N versions
  Jenkinsfile
  test/e2e/cluster.sh
  test/e2e/releases.sh
Due: .pipelines/pr-e2e.yaml

fix: not overwrite service principal profile for hosted master (#1935)
  parts/k8s/kubernetesparams.t
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fixed tests
  pkg/api/azenvtypes.go
  pkg/api/converterfromapi_test.go
  pkg/api/convertertoapi.go
  pkg/api/vlabs/azenvtypes.go
Due: .pipelines/pr-e2e.yaml

chore: generated code
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: wait 10 mins before deleting hyperkube images on master nodes
  parts/k8s/cloud-init/artifacts/cse_install.sh
Due: .pipelines/pr-e2e.yaml

squash!
  Jenkinsfile
  test/e2e/build.sh
Due: .pipelines/pr-e2e.yaml

squash!
  Jenkinsfile
Due: .pipelines/pr-e2e.yaml

squash!
  test/e2e/build.sh
Due: .pipelines/pr-e2e.yaml

chore: move cleanup to top
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fixed default tests
  pkg/api/defaults-custom-cloud-profile.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

doc: Clarify defaults for enablePodSecurityPolicy
  docs/topics/clusterdefinitions.md
Due: none

Update clusterdefinitions.md
  docs/topics/clusterdefinitions.md
Due: none

doc: Clarify defaults for enablePodSecurityPolicy (#1961)
  docs/topics/clusterdefinitions.md
Due: none
