Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

docs: pod-security-policy addon doesn't include any pods
  docs/topics/clusterdefinitions.md
Due: none

fix: fix ARM depencency issues if many extensions are specified for a node profile
  pkg/engine/vmextensions.go
  pkg/engine/vmextensions_test.go
Due: .pipelines/pr-e2e.yaml

Additional CSEs no longer depend on billing agent
  pkg/engine/vmextensions.go
  pkg/engine/vmextensions_test.go
Due: .pipelines/pr-e2e.yaml

updating unit tests and fixing style issue
  pkg/engine/vmextensions.go
  pkg/engine/vmextensions_test.go
Due: .pipelines/pr-e2e.yaml

test: use uksouth instead of westus2 for AZ tests
  test/e2e/test_cluster_configs/everything.json
Due: .pipelines/pr-e2e.yaml

test: use uksouth instead of westus2 for AZ tests (#2468)
  test/e2e/test_cluster_configs/everything.json
Due: .pipelines/pr-e2e.yaml

test: restore Windows node labels spec (#2466)
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

doc: grammar police
  docs/topics/clusterdefinitions.md
Due: none

document agentPoolProfiles extensions
  docs/topics/extensions.md
Due: none

document extensions attributes
  docs/topics/clusterdefinitions.md
Due: none

Document limitation
  docs/topics/extensions.md
Due: none

refactor: make pod-security-policy addon user-configurable (#2463)
  docs/topics/clusterdefinitions.md
  examples/addons/custom-manifests/kubernetes-custom-psp.json
  parts/k8s/containeraddons/1.15/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-pod-security-policy.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults-apiserver.go
  pkg/api/defaults-apiserver_test.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Creating 'ext' network for all network plugins
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsazurecnifunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feat: Move creation of 'ext' HNS network into cse for Windows (#2450)
  parts/k8s/kuberneteswindowsfunctions.ps1
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsazurecnifunc.ps1
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

addressing Cecile's suggestions
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

chore: update azure-npm-daemonset addon to v1.0.30
  packer/install-dependencies.sh
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-azure-npm-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: enable azure npm testing in 1.17
  test/e2e/test_cluster_configs/network_policy/azure.json
Due: .pipelines/pr-e2e.yaml

changes for december omsagent addon
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/engine/testdata/key-vault-certs/kubernetes.json
Due: .pipelines/pr-e2e.yaml

chore: update azure-npm-daemonset addon to v1.0.30 (#2472)
  packer/install-dependencies.sh
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-azure-npm-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-azure-npm-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/engine/templates_generated.go
  test/e2e/test_cluster_configs/network_policy/azure.json
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

updating generated file
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Update Containermonitoring addon for december release (#1)
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
  pkg/engine/testdata/key-vault-certs/kubernetes.json
Due: .pipelines/pr-e2e.yaml

Update docs/topics/extensions.md
  docs/topics/extensions.md
Due: none

refactor: make aad addon user-configurable
  docs/topics/aad.md
  docs/topics/clusterdefinitions.md
  parts/k8s/addons/kubernetesmasteraddons-aad-default-admin-group-rbac.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/containeraddons/kubernetesmasteraddons-aad-default-admin-group-rbac.yaml
  parts/k8s/kubernetesparams.t
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add validation
  pkg/api/vlabs/types.go
  pkg/api/vlabs/types_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

fix: addons validation UT weirdness
  pkg/api/vlabs/validate.go
Due: .pipelines/pr-e2e.yaml

chore: generated code
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

docs: Issue 2464 improve agentpool extensions docs (#2469)
  docs/topics/clusterdefinitions.md
  docs/topics/extensions.md
Due: none

feat: Configuring docker log rotation for Windows nodes
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsconfigfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

feat: Adds kubeconfig option to upgrade cmd (#2397)
  cmd/upgrade.go
  docs/topics/keyvault-secrets.md
  docs/topics/upgrade.md
  hack/tools/vendor/gopkg.in/tomb.v1/tomb.go
Due: .pipelines/pr-e2e.yaml

test: fix test error messages
  pkg/api/types_test.go
  pkg/api/vlabs/types_test.go
Due: .pipelines/pr-e2e.yaml

refactor: change MCR base URL to /oss/kubernetes/
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
  parts/k8s/windowskubeletfunc.ps1
  pkg/api/azenvtypes.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: make aad addon user-configurable (#2471)
  docs/topics/aad.md
  docs/topics/clusterdefinitions.md
  parts/k8s/addons/kubernetesmasteraddons-aad-default-admin-group-rbac.yaml
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/containeraddons/kubernetesmasteraddons-aad-default-admin-group-rbac.yaml
  parts/k8s/kubernetesparams.t
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/types.go
  pkg/api/types_test.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/types_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: make cilium addon user-configurable
  docs/topics/clusterdefinitions.md
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-cilium-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/engine.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network/kubenet_containerd.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
Due: .pipelines/pr-e2e.yaml

chore: clarify that cilium doesn't work w/ 1.16 and above, add validation
  docs/topics/clusterdefinitions.md
  examples/networkpolicy/kubernetes-cilium.json
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

test: addons UT
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

Rashmi/ciprod12042019 (#3)
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/defaults_test.go
  pkg/api/k8s_versions.go
  pkg/engine/templates_generated.go
  pkg/engine/testdata/key-vault-certs/kubernetes.json
Due: .pipelines/pr-e2e.yaml

test: go template UT
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

chore: simplify enableAggregatedAPI foo
  docs/topics/clusterdefinitions.md
  parts/k8s/cloud-init/artifacts/generateproxycerts.sh
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
