Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

.pipelines/pr-e2e.yaml:
  jobs:
  - job: unit_tests
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 5
    strategy:
      maxParallel: 0
    pool:
      vmImage: Ubuntu 16.04
    container: dev1
    variables:
      GOBIN: $(GOPATH)/bin
      GOROOT: /usr/local/go
      GOPATH: $(system.defaultWorkingDirectory)/gopath
  ...

.pipelines/vhd-builder-windows.yaml:
  jobs:
  - job: build_vhd_windows
    timeoutInMinutes: 120
    strategy:
      maxParallel: 0
    pool:
      name: $(BUILD_POOL)
    steps:
    - script: 'docker run --rm \
  
        -v ${PWD}:/go/src/github.com/Azure/aks-engine \
  
        -w /go/src/github.com/Azure/aks-engine \
  
        -e CLIENT_ID=${CLIENT_ID} \
  
  ...

docs: clarify enableRbac req
  docs/topics/clusterdefinitions.md
Due: none

chore: generated code
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: remove unnecessary else conditions
  parts/k8s/cloud-init/artifacts/generateproxycerts.sh
Due: .pipelines/pr-e2e.yaml

Fixing yaml indentation issues for omsagent (#4)
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
Due: .pipelines/pr-e2e.yaml

Fixing more indentation issues in omsagent yaml (#5)
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-omsagent-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-omsagent-daemonset.yaml
Due: .pipelines/pr-e2e.yaml

updating templates_generated file
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix scale up case for windows vhd case.
  cmd/scale.go
Due: .pipelines/pr-e2e.yaml

chore: use go template comments for generate proxy certs script (#2336)
  docs/topics/clusterdefinitions.md
  parts/k8s/cloud-init/artifacts/generateproxycerts.sh
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

ci: use Standard_D8_v3 for cilium test, only run NetworkPolicy tests
  test/e2e/test_cluster_configs/network_policy/cilium.json
Due: .pipelines/pr-e2e.yaml

fix: fix ARM dependency issues with vm user-specified extensions on node pools (#2398)
  pkg/engine/vmextensions.go
  pkg/engine/vmextensions_test.go
Due: .pipelines/pr-e2e.yaml

chore: upgrade cni-plugins to v0.7.6
  packer/install-dependencies.sh
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: upgrade cni-plugins to v0.8.3
  packer/install-dependencies.sh
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: error message language
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
Due: .pipelines/pr-e2e.yaml

chore: remove debug fmt.Println
  pkg/engine/engine.go
Due: .pipelines/pr-e2e.yaml

ci: revert back to Standard_D2_v3
  test/e2e/test_cluster_configs/network_policy/cilium.json
Due: .pipelines/pr-e2e.yaml

fix scale up case for windows vhd case. (#2483)
  cmd/scale.go
Due: .pipelines/pr-e2e.yaml

chore: generated code
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: use new URI schema for cni-plugins download
  pkg/api/azenvtypes.go
Due: .pipelines/pr-e2e.yaml

chore: also update VHD spec
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: make cilium addon user-configurable (#2480)
  docs/topics/clusterdefinitions.md
  examples/networkpolicy/kubernetes-cilium.json
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cilium-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-cilium-daemonset.yaml
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/common/const.go
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/artifacts.go
  pkg/engine/artifacts_test.go
  pkg/engine/const.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network/kubenet_containerd.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
Due: .pipelines/pr-e2e.yaml

chore: upgrade cni-plugins to v0.7.6 (#2484)
  packer/install-dependencies.sh
  pkg/api/const.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: hard-coding hyper-v generation when using VHD URls as a quick unblock
  pkg/engine/images.go
  pkg/engine/images_test.go
Due: .pipelines/pr-e2e.yaml

fix: hard-coding hyper-v generation when using VHD URls as a quick unblock (#2487)
  pkg/engine/images.go
  pkg/engine/images_test.go
Due: .pipelines/pr-e2e.yaml

feat: Configuring docker log rotation for Windows nodes (#2478)
  parts/k8s/kuberneteswindowssetup.ps1
  parts/k8s/windowsconfigfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Fix: Updating generated file to fix unit tests (#6)
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: clean up
  cmd/generate_test.go
  examples/kubernetes.json
  examples/networkplugin/README.md
  examples/networkplugin/kubernetes-antrea.json
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/containeraddons/antrea.yaml
  parts/k8s/kubernetesparams.t
  pkg/api/common/const.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/api/vlabs/const.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/const.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
  pkg/engine/transform/transformtestfiles/k8s_agent_upgrade_template.json
  pkg/engine/transform/transformtestfiles/k8s_master_upgrade_template.json
  pkg/engine/transform/transformtestfiles/k8s_scale_template.json
  pkg/engine/transform/transformtestfiles/k8s_slb_scale_template.json
  pkg/engine/transform/transformtestfiles/k8s_slb_template.json
  pkg/engine/transform/transformtestfiles/k8s_slb_vmss_scale_template.json
  pkg/engine/transform/transformtestfiles/k8s_slb_vmss_template.json
  pkg/engine/transform/transformtestfiles/k8s_template.json
  pkg/engine/transform/transformtestfiles/k8s_vnet_scale_template.json
  pkg/engine/transform/transformtestfiles/k8s_vnet_template.json
  pkg/engine/transform/transformtestfiles/master_resources_scale_temaplate.json
  test/e2e/test_cluster_configs/network/antrea.json
  test/e2e/test_cluster_configs/network_policy/antrea.json
Due: .pipelines/pr-e2e.yaml

chore: use ContainerImage
  parts/k8s/containeraddons/antrea.yaml
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

chore: update to MS Moby 3.0.8 (#2239)
  packer/install-dependencies.sh
  parts/k8s/kubernetesparams.t
  pkg/api/const.go
  pkg/api/defaults_test.go
  pkg/armhelpers/azurestack/httpMockClientData/deployVMRequest.json
  pkg/armhelpers/azurestack/httpMockClientData/deployVMResponse.json
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: pre-pull k8s v1.15.7-azs
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

refactor: Updating antrea yaml to 0.2.0
  examples/networkpolicy/README.md
  parts/k8s/containeraddons/antrea.yaml
  pkg/api/k8s_versions.go
  pkg/engine/template_generator.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: strip MCR constant to base hostname of URL
  pkg/api/azenvtypes.go
  pkg/api/k8s_versions.go
  pkg/api/types_test.go
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

fix: fetch Azure cloud-manager images from /oss/kubernetes/
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: update cloud-provider-azure components to v0.4.0
  packer/install-dependencies.sh
  pkg/api/k8s_versions.go
  pkg/api/k8s_versions_test.go
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: lint
  pkg/api/types.go
Due: .pipelines/pr-e2e.yaml

chore: lint (#2493)
  pkg/api/types.go
Due: .pipelines/pr-e2e.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer
