Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

fixing issues in windows CSE
  packer/configure-windows-vhd.ps1
  parts/k8s/kuberneteswindowsfunctions.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: add support for Kubernetes 1.16.0 (#1972)
  examples/dualstack/kubernetes.json
  pkg/api/common/versions.go
Due: .pipelines/pr-e2e.yaml

fix: correct scale message after scale operations (#1977)
  cmd/scale.go
Due: .pipelines/pr-e2e.yaml

fixed scale version
  pkg/api/defaults-custom-cloud-profile.go
  pkg/api/defaults_test.go
  pkg/engine/armresources.go
Due: .pipelines/pr-e2e.yaml

fixed sample file
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

test: run DNS validation against more than one query
  test/e2e/kubernetes/workloads/validate-dns-linux.yaml
Due: .pipelines/pr-e2e.yaml

docs: supported versions for disconnected Azure Stacks using VHD 2019.09.10
  docs/topics/azure-stack.md
Due: none

chore: add Azure Stack versions
  docs/topics/azure-stack.md
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: deprecrate 1.11 and 1.12 for Azure Stack
  docs/topics/azure-stack.md
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: rationalize test configs
  test/e2e/test_cluster_configs/flannel/containerd.json
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network_policy/calico.json
  test/e2e/test_cluster_configs/network_policy/calico_azure.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
  test/e2e/test_cluster_configs/rbac_disabled.json
  test/e2e/test_cluster_configs/windows/network_plugin/kubenet.json
Due: .pipelines/pr-e2e.yaml

test: run DNS validation against more than one query (#1983)
  test/e2e/kubernetes/workloads/validate-dns-linux.yaml
Due: .pipelines/pr-e2e.yaml

chore: add new k8s releases to VHD CI spec (#1976)
  docs/topics/azure-stack.md
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

update the defaults.
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

update the defaults. (#1986)
  examples/azure-stack/kubernetes-azurestack.json
Due: .pipelines/pr-e2e.yaml

test: retry’able node get
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/node/node.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

test: skip time sync test for 18.04
  .pipelines/e2e-job-template.yaml
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: rationalize test configs (#1985)
  test/e2e/test_cluster_configs/flannel/containerd.json
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network_policy/calico.json
  test/e2e/test_cluster_configs/network_policy/calico_azure.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
  test/e2e/test_cluster_configs/rbac_disabled.json
  test/e2e/test_cluster_configs/windows/network_plugin/kubenet.json
Due: .pipelines/pr-e2e.yaml

fix: check the nodes of all agentpool during upgrade (#1893)
  pkg/operations/kubernetesupgrade/upgrader.go
Due: .pipelines/pr-e2e.yaml

ci: Adding provenance info in Windows VHD release notes
  .pipelines/vhd-builder-windows.yaml
  packer/windows-vhd-builder.json
  packer/write-release-notes-windows.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: retry’able node get (#1987)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/node/node.go
  test/e2e/runner/cli_provisioner.go
Due: .pipelines/pr-e2e.yaml

ci: try removing quotes
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: because where would we be without standardized orthography
  test/e2e/test_cluster_configs/windows/accelerated_networking.json
Due: .pipelines/pr-e2e.yaml

ci: consistent whitespace
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: disable ReadOnlyPort since it's only for heapster
  docs/topics/clusterdefinitions.md
  pkg/api/defaults-kubelet.go
  pkg/api/defaults-kubelet_test.go
Due: .pipelines/pr-e2e.yaml

test: because where would we be without standardized orthography (#1991)
  test/e2e/test_cluster_configs/windows/accelerated_networking.json
Due: .pipelines/pr-e2e.yaml

CR feedback
  packer/configure-windows-vhd.ps1
  parts/k8s/windowsinstallopensshfunc.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fixup! CR feedback
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

ci: consistent whitespace (#1992)
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Removing not-yet-released azs zips
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

chore: lint
  pkg/api/defaults-kubelet_test.go
Due: .pipelines/pr-e2e.yaml

test: skip time sync test for 18.04 (#1988)
  .pipelines/e2e-job-template.yaml
  .pipelines/pr-e2e.yaml
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: retry remote ssh commands
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/remote/ssh.go
Due: .pipelines/pr-e2e.yaml

test: fix UT
  pkg/api/defaults-kubelet_test.go
Due: .pipelines/pr-e2e.yaml

ci: Adding provenance info in Windows VHD release notes (#1990)
  .pipelines/vhd-builder-windows.yaml
  packer/windows-vhd-builder.json
  packer/write-release-notes-windows.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

docs: Adding doc for new k8s version ingestion
  docs/community/README.md
  docs/community/new-k8s-release.md
Due: none

Adding azs packages for 1.14.7 and 1.15.4
  packer/configure-windows-vhd.ps1
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

test: retry remote ssh commands (#1993)
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/remote/ssh.go
Due: .pipelines/pr-e2e.yaml

test: address 4 E2E test flakes
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/hpa/hpa.go
  test/e2e/kubernetes/job/job.go
  test/e2e/kubernetes/kubernetes_test.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/persistentvolume/persistentvolume.go
  test/e2e/kubernetes/persistentvolumeclaims/persistentvolumeclaims.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/service/service.go
  test/e2e/kubernetes/storageclass/storageclass.go
  test/e2e/kubernetes/util/util.go
Due: .pipelines/pr-e2e.yaml

chore: rev VHD images to 2019.09.19
  pkg/api/azenvtypes.go
  releases/vhd-notes/aks-ubuntu-1604/aks-ubuntu-1604-201908_2019.09.19.txt
  releases/vhd-notes/aks-ubuntu-1804/aks-ubuntu-1804-201908_2019.09.19.txt
Due: .pipelines/pr-e2e.yaml

test: use Standard_D2_v3, low-pri scalesets
  test/e2e/test_cluster_configs/base.json
  test/e2e/test_cluster_configs/container_monitoring.json
  test/e2e/test_cluster_configs/flannel/containerd.json
  test/e2e/test_cluster_configs/flannel/docker.json
  test/e2e/test_cluster_configs/gpu.json
  test/e2e/test_cluster_configs/kubenet.json
  test/e2e/test_cluster_configs/network/cilium.json
  test/e2e/test_cluster_configs/network_policy/azure.json
  test/e2e/test_cluster_configs/network_policy/calico.json
  test/e2e/test_cluster_configs/network_policy/calico_azure.json
  test/e2e/test_cluster_configs/network_policy/cilium.json
  test/e2e/test_cluster_configs/no_outbound.json
  test/e2e/test_cluster_configs/not_in_vhd.json
  test/e2e/test_cluster_configs/rbac_disabled.json
  test/e2e/test_cluster_configs/storage_profile.json
  test/e2e/test_cluster_configs/vmss_master.json
  test/e2e/test_cluster_configs/windows/accelerated_networking.json
  test/e2e/test_cluster_configs/windows/custom_image.json
  test/e2e/test_cluster_configs/windows/custom_vnet.json
  test/e2e/test_cluster_configs/windows/image_reference.json
  test/e2e/test_cluster_configs/windows/network_plugin/kubenet.json
  test/e2e/test_cluster_configs/windows/shared_image_gallery.json
  test/e2e/test_cluster_configs/windows/vhd_url.json
Due: .pipelines/pr-e2e.yaml
