Repository Azure/aks-engine: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

Path conditions:
  .pipelines/pr-e2e.yaml: any file but: docs
  .pipelines/vhd-builder-windows.yaml: any of: .pipelines, packer

fix: DCOS orchestrator default enforcement in wrong func
  pkg/api/defaults.go
Due: .pipelines/pr-e2e.yaml

chore: remove unused func
  pkg/api/defaults.go
Due: .pipelines/pr-e2e.yaml

fix agent image tag
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

docs: supported versions for disconnected Azure Stacks using VHD 2019.10.24 (#2237)
  docs/topics/azure-stack.md
Due: none

fix provider version
  pkg/api/addons_test.go
Due: .pipelines/pr-e2e.yaml

refactor: render manifest specs at template generation time (#2313)
  parts/k8s/cloud-init/artifacts/setup-custom-search-domains.sh
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  parts/k8s/kubernetesparams.t
  parts/k8s/manifests/1.17/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/1.17/kubernetesmaster-kube-scheduler.yaml
  parts/k8s/manifests/kubernetesmaster-cloud-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-addon-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-apiserver.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager-custom.yaml
  parts/k8s/manifests/kubernetesmaster-kube-controller-manager.yaml
  parts/k8s/manifests/kubernetesmaster-kube-scheduler.yaml
  pkg/api/common/helper.go
  pkg/api/common/helper_test.go
  pkg/api/defaults-apiserver.go
  pkg/api/defaults-apiserver_test.go
  pkg/engine/engine_test.go
  pkg/engine/params.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

refactor: rationalize defaults enforcement order (#2274)
  pkg/api/defaults-kubelet.go
  pkg/api/defaults.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml

revert generated file changes
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

fix: lint errors
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

refactor: use go template for kubelet systemd config
  parts/k8s/cloud-init/artifacts/kubelet.service
  parts/k8s/cloud-init/masternodecustomdata.yml
  parts/k8s/cloud-init/nodecustomdata.yml
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/engine_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

add newly generated files
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

fix: lint errors (#2319)
  pkg/api/defaults.go
  pkg/api/defaults_test.go
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

feat: support transparent mode for Azure CNI (#2259)
  parts/k8s/cloud-init/artifacts/cse_config.sh
  parts/k8s/kubernetesparams.t
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/types.go
  pkg/api/vlabs/const.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/armvariables_test.go
  pkg/engine/params_k8s.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

(docs/sgx): Add SGX Device plugin installation details
  docs/topics/sgx.md
Due: none

docs: Add SGX Device plugin installation details (#2321)
  docs/topics/sgx.md
Due: none

fix: lint
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

updating Azure CNI and Azure NPM to v1.0.29
  packer/configure-windows-vhd.ps1
  packer/install-dependencies.sh
  pkg/api/addons.go
  pkg/api/addons_test.go
  pkg/api/const.go
  pkg/api/converterfromapi_test.go
  pkg/api/defaults_test.go
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

fix: lint (#2322)
  pkg/engine/template_generator_test.go
Due: .pipelines/pr-e2e.yaml

fix: dealing with carriage returns
  parts/k8s/cloud-init/artifacts/kubelet.service
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

add generated files after reloading new tools
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

docs: Update sgx device plugin image name
  docs/topics/sgx.md
Due: none

docs: Update sgx device plugin image name (#2325)
  docs/topics/sgx.md
Due: none

chore: use go template comments for addons yaml specs
  parts/k8s/addons/1.10/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.15/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/addons/1.16/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.16/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/containeraddons/1.11/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.12/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.13/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.14/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.15/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cloud-node-manager.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/azure-policy-deployment.yaml
  parts/k8s/containeraddons/dns-autoscaler.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-azuredisk-csi-driver-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-calico-daemonset.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: userAssignedIdentityId in windows azure.json missing quotes
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: support cloud-node-manager in k8s 1.16
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cloud-node-manager.yaml
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

test: look for cloud-node-manager and friends in e2e pod test
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

fix: sync up go-bindata version locally and regenerate
  pkg/engine/templates_generated.go
  pkg/i18n/translations_generated.go
Due: .pipelines/pr-e2e.yaml

(docs/sgx): Add TOC and update device plugin docs
  docs/topics/sgx.md
Due: none

(docs/sgx): Add TOC and update device plugin docs (#2331)
  docs/topics/sgx.md
Due: none

fix: use bool cast in test case
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

fix: userAssignedIdentityId in windows azure.json missing quotes (#2327)
  parts/k8s/windowskubeletfunc.ps1
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: support cloud-node-manager in k8s 1.16 (#2330)
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cloud-node-manager.yaml
  pkg/engine/templates_generated.go
  test/e2e/kubernetes/kubernetes_test.go
Due: .pipelines/pr-e2e.yaml

Addressing mboersma's comments: update NPM version as well.
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml

feat: Support custom k8s components in v1.17
  parts/k8s/cloud-init/artifacts/cse_install.sh
  parts/k8s/cloud-init/artifacts/cse_main.sh
  parts/k8s/kubernetesparams.t
  pkg/api/converterfromapi.go
  pkg/api/convertertoapi.go
  pkg/api/types.go
  pkg/api/vlabs/types.go
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/armvariables.go
  pkg/engine/params_k8s.go
  pkg/engine/template_generator.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

Nil check in validate functions
  pkg/api/vlabs/validate.go
  pkg/engine/armvariables_test.go
Due: .pipelines/pr-e2e.yaml

Modify validation logic
  parts/k8s/kubernetesparams.t
  pkg/api/vlabs/validate.go
  pkg/api/vlabs/validate_test.go
  pkg/engine/template_generator_test.go
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

fix: restore #EOF in addons that have CSE config vectors
  parts/k8s/containeraddons/1.11/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.12/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.13/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.14/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.15/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.16/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/1.17/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-aci-connector-deployment.yaml
  parts/k8s/containeraddons/kubernetesmasteraddons-cluster-autoscaler-deployment.yaml
Due: .pipelines/pr-e2e.yaml

chore: generated code
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: touch remaining addons
  parts/k8s/addons/1.16/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.16/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/1.17/kubernetesmasteraddons-pod-security-policy.yaml
  parts/k8s/addons/1.9/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/coredns.yaml
  parts/k8s/addons/kubernetesmasteraddons-flannel-daemonset.yaml
  parts/k8s/addons/kubernetesmasteraddons-kube-dns-deployment.yaml
  parts/k8s/addons/kubernetesmasteraddons-pod-security-policy.yaml
  pkg/engine/templates_generated.go
Due: .pipelines/pr-e2e.yaml

chore: add CSI components to VHD
  packer/install-dependencies.sh
Due: .pipelines/pr-e2e.yaml, .pipelines/vhd-builder-windows.yaml
